.App-header {
  width: 100%;
  background-color: #2669f0;
  padding: 8px 25px;
}

.header_blocks {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  padding: 0.5%;
}

.header_blocks img {
  cursor: pointer;
  max-width: 5%;
  max-height: 5%;
}
