* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.App {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #565e71;
}
