.channel {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.messages {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}
ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}
.message {
  margin: 0.2rem;
  padding: 0.2rem;
}
.message:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
